@use '@angular/material' as mat;

.spinner {
  display: flex;
  justify-content: center;
  margin: 0 auto 64px auto;
}

.content {
  display: block;
  width: 100%;
  max-width: 425px;
  margin-left: auto;
  margin-right: auto;
}

.red {
  font-weight: bold;
  color: mat.get-color-from-palette(mat.$red-palette, 500);
}

.green {
  font-weight: bold;
  color: mat.get-color-from-palette(mat.$green-palette, 500);
}

.new-download-method {
  margin-top: 16px;
}