.template {
  --common-primary-font-size: 36px;
  --common-secondary-font-size: 22px;
  --common-info-border-radius: 30px;
  --common-info-padding: 16px;
  --common-info-z-index: 20;
  --common-info-width: 22%;
  --common-info-margin-top: 16px;
  --common-info-margin-bot: 16px;
  --common-info-bgc: rgba(0, 0, 0, 0.60);
  --common-price-bgc: rgba(246, 14, 9, 0.80);
  --common-offer-bgc: rgba(253, 252, 0, 0.80);
  --common-edge-margin: 2%;

  position: relative;
  display: block;
  font-family: 'Alumni Sans', sans-serif;
  font-weight: 700;
  line-height: 1;
  text-align: center;

  .template__image {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    z-index: 10;
  }

  .template__brand {
    position: absolute;
    display: block;
    width: 20%;
    height: auto;
    opacity: 0.75;
    z-index: var(--common-info-z-index);
  }

  .template__offer-label {
    position: absolute;
    display: block;
    width: 20%;
    height: auto;
    z-index: var(--common-info-z-index);
  }

  .template__identification {
    position: absolute;
    right: var(--common-edge-margin);
    bottom: var(--common-edge-margin);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    background-color: rgb(134, 131, 131);
    border-radius: 100%;
    opacity: 0.75;
    padding: 8px;
    z-index: var(--common-info-z-index);
  }

  .whatsapp-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
    z-index: 30;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .common-template__info {
    position: absolute;
    display: block;
    bottom: 8%;
    left: var(--common-edge-margin);
    width: 100%;
    max-width: var(--common-info-width);
    z-index: var(--common-info-z-index);

    .info, .info__size, .info__price, .info__offer-price {
      font-size: var(--common-primary-font-size);
      color: #fff;
      background-color: var(--common-info-bgc);
      border-radius: var(--common-info-border-radius);
      padding: var(--common-info-padding);
      margin-top: var(--common-info-margin-top);
      margin-bottom: var(--common-info-margin-bot);

      .title {
        display: block;
      }
  
      .value {
        display: block;
      }
    }

    .info__size {
      .size__title, .size__value {
        font-size: var(--common-primary-font-size);
      }
  
      .size__description {
        display: block;
        font-size: var(--common-secondary-font-size);
      }
    }

    .info__price {
      color: #fff;
      background-color: var(--common-price-bgc);

      .value {
        white-space: nowrap;
      }
    }

    .info__offer-price {
      color: #000;
      background-color: var(--common-offer-bgc);

      .value {
        white-space: nowrap;
      }
    }
  }

  
  .label-position-top-left {
    top: var(--common-edge-margin);
    left: var(--common-edge-margin);
  }

  .label-position-top-right {
    top: var(--common-edge-margin);
    right: var(--common-edge-margin);
  }

  .label-position-bot-left {
    bottom: var(--common-edge-margin);
    left: var(--common-edge-margin);
  }

  .label-position-bot-right {
    bottom: 8%;
    right: var(--common-edge-margin);
  }

  .label-position-none {
    display: none;
  }
}