<div
  id="template"
  class="template template-general"
  [ngStyle]="{
    width: resolution.width, 
    height: resolution.height,
    fontSize: resolution.width
  }">
  <img class="template__image" [src]="data.file">
  <img
    [class]="'template__brand ' + logoLabelPositionStyle"
    src="./assets/logo-rounded.png">
  <div class="template__identification" *ngIf="data.id">
    <span class="identification-value">#{{data.id}}</span>
  </div>
  <div *ngIf="data.whatsappFilter" class="whatsapp-filter">
    <img src="./assets/whatsapp-filter.png">
  </div>
</div>