<div
  id="template"
  class="template template-shirt"
  [ngStyle]="{width: resolution.width, height: resolution.height}">
  <img class="template__image" [src]="data.file">
  <img
    [class]="'template__brand ' + logoLabelPositionStyle"
    src="./assets/logo-rounded.png">
  <img
    [class]="'template__offer-label ' + offerLabelPositionStyle"
    src="./assets/offer-label.png">
  <div class="template__identification" *ngIf="data.id">
    <span class="identification-value">#{{data.id}}</span>
  </div>
  <div class="common-template__info jacket-template__info">
    <div *ngIf="data.size || data.sizeDescription" class="info__size">
      <ng-container *ngIf="data.size">
        <span class="size__title">TALLA: </span>
        <span class="size__value">"{{data.size}}"</span>
      </ng-container>
      <span *ngIf="data.sizeDescription" class="size__description">
        {{data.sizeDescription}}
      </span>
    </div>
    <div *ngIf="data.price" class="info__price">
      <span class="title">COSTO:</span>
      <span class="value">${{data.price}} MXN</span>
    </div>
    <div *ngIf="data.offerPrice" class="info__offer-price">
      <span class="title">OFERTA:</span>
      <span class="value">${{data.offerPrice}} MXN</span>
    </div>
  </div>
  <div *ngIf="data.whatsappFilter" class="whatsapp-filter">
    <img src="./assets/whatsapp-filter.png">
  </div>
</div>