#app-presentation {
  margin-top: 64px;

  .content {
    max-width: 425px;
    margin: 0 auto;
  }
}

#app-editor {
  margin-top: 64px;

  .app-editor__forms {
    [data-type-active="true"] {
      display: block;
    }
  
    [data-type-active="false"] {
      display: none;
    }
  }

  .app-editor__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 64px;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
}

#app-downloader {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.templates {
  display: none;
}

.modal-backdrop.show {
  background-color: rgb(52, 52, 62);
  opacity: 1;
}

.modal-content {
  background-color: transparent;
  border: none;
}